@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../Fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: #fff;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #0000004d;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #fff;
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    text-shadow: 2px 2px 0px #0000004d;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000046;
}

nav > a {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000057;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

a.externo::after{
    content: '\00A0\1F517';
}

main a:hover {
    text-decoration:underline;
    color: var(--cor4);
}

main p {
    margin: 15px 0px;
    text-align:justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

main img.pequena {
    width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #0000005d;
}

aside > h3 {
    background-color: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}